.navbar {
  width: 100%;
  background-color: #e9c8dc;
}

    .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: var(--page-padding);
    box-sizing: border-box;
    }

   
    
    .navbar-menu {
        display: flex;
        list-style: none;
        gap: var(--page-padding);
        margin: 0;
        padding: 0;
    }
    
    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a:hover {
        color: #6d9c42;
    }
    

