#root {
  min-height: var(--page-min-height);
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: hidden;
}

.page-content {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: var(--page-padding);
  box-sizing: border-box;
}


