
:root {

  --page-max-width: 1280px;   
  --page-min-height: 100vh;
  --page-padding: 2rem;
  --page-min-width: 320px;
  --page-zero-margin: 0; 
}



body {
  margin: var(--page-zero-margin); 
  min-width: var(--page-min-width);

}

